<footer class="site-footer">


  <!-- footer -->
  <!-- footer. inserted to id="footer" -->
  <div class="wrapper clearfix">
    <div class="footer">

      <div class="footer-content">
        <p>
          <span>
            <a href="index.html">{{ site.title }}</a> Copyright © 2014-{{ site.time | date: "%Y"}} The Netdev Society
          </span><br>
        </p>
      </div>
      <div class="wrapper">
        <div class="sponso">
          <h2 class="footer-title"> Sponsors </h2>

          {% assign types = site.data.sponsors | map: "type" | uniq %}
          {% for type in types %}
          <div class="sponso-area">
            <h3 class="footer-title"> {{ type | capitalize }}: </h3>

            {% assign sponsors = site.data.sponsors | where: "type", type %}
            {% for sponsor in sponsors %}
            <a href="{{ sponsor.url }}">
              <img class="logo" alt="{{ sponsor.alt }}" src="{{ site.baseurl }}/assets/sponsors/{{ sponsor.img }}" />
            </a>
            {% endfor %}
            <br><br>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
