<div id="logo">
  <div class="wrapper">
    <a href="{{ site.baseurl }}/">
      <img src="{{ site.cover | prepend: site.baseurl }}" alt=""/>
    </a>
  </div>
</div>

<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <i class="fa fa-bars"></i>
    </a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        {% include nav_links.html %}
      </ul>
    </nav>
  </div>
</header>