<div id="logo">
  <div class="wrapper">
    <a href="{{ site.baseurl }}/">
      <div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover
        %}style="background-image: url({{ site.cover | prepend: site.baseurl }});" {% endif %}>
        <div class="scrim {% if site.cover %}has-cover{% endif %}">
        </div>
      </div>
    </a>
  </div>
</div>

<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <i class="fa fa-bars"></i>
    </a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        {% include nav_links.html %}
      </ul>
    </nav>
  </div>
</header>