<ul class="post-list">
    <li>
        <htitle>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">Netdev 0x16, THE Technical Conference on
                Linux Networking</a>
        </htitle>
        <section class="post-excerpt" itemprop="description">
            <hpost>
                Netdev 0x16 is scheduled to be in Lisbon Portugal tentatively on October 24th - 28th.<br /><br />

                Netdev 0x16, like all the previous netdev conferences, is a conference of the netdev community, by the
                netdev community, for the netdev community. Linux kernel networking and user space utilization of the
                interfaces to the Linux kernel networking subsystem are the focus. If you are using Linux as a boot
                system for proprietary networking, then this conference _may not be for you_. <br>
            </hpost>
        </section>
    </li>
    <hr>

    <li>
        <htitle>
            <a class="post-link" href="./">Sponsors</a>
        </htitle>
        <section class="post-excerpt" itemprop="description">
            <hpost>
                We are looking for sponsors. If you can help us organize this event by sponsoring, please drop us a line
                to: sponsor@netdevconf.info and we'll send you our sponsorship information. <br>
            </hpost>
        </section>
    </li>
    <hr>

    <li>
        <htitle>
            <a class="post-link" href="./">Contact</a>
        </htitle>
        <section class="post-excerpt" itemprop="description">
            <hpost>
                We are going to be sending more announcements to the conference discussion/announcement list:
                people@netdevconf.info. Subscribe at
                https://lists.netdevconf.info/cgi-bin/mailman/listinfo/people.<br /><br />

                For any other information, please contact: info@netdevconf.info.
            </hpost>
        </section>
        <section class="post-meta">
            <div class="post-date">2022-07-12</div>
        </section>
    </li>
    <hr>

    <li>
        <htitle>
            <a class="post-link" href="./">Paper templates for presenters:</a>
        </htitle>
        <section class="post-excerpt" itemprop="description">
            <hpost>
                odt template<br/>
                latex template
            </hpost>
        </section>
        <section class="post-meta">
            <div class="post-date">2022-07-08</div>
        </section>
    </li>
    <hr>


    {% for post in paginator.posts %}

    <li>
        <htitle>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </htitle>
        <section class="post-excerpt" itemprop="description">
            <hpost>{{ post.content | strip_html | truncatewords: 80 }}</hpost>
        </section>
        <section class="post-meta">
            <div class="post-date">{{ post.date | date: "%B %-d, %Y" }}</div>
            <div class="post-categories">
                {% if post.categories.size > 0 %}in {% for cat in post.categories %}
                {% if site.jekyll-archives %}
                <a href="{{ site.baseurl }}/category/{{ cat }}">{{ cat | capitalize }}</a>{% if forloop.last ==
                false %}, {%
                endif %}
                {% else %}
                <a href="{{ site.baseurl }}/posts/#{{ cat }}">{{ cat | capitalize }}</a>{% if forloop.last ==
                false %}, {%
                endif %}
                {% endif %}
                {% endfor %}{% endif %}
            </div>
        </section>
    </li>
    {% if forloop.last == false %}
    <hr>
    {% endif %}
    {% endfor %}
</ul>