<div>
  <h1 class="page-title">About Us</h1>
  <p>The NetDev Society has been established for the purpose of advancing the Linux networking user and kernel open
    source software by, among other things, providing a forum for collaboration through conferences and other
    activities. It is operated
    by volunteer netdev community members. It is not a trade association. Our goal is to serve the netdev community.</p>

  <ul>
    <h2>
      <li><a href="#Committees">Committees</a></li>
      <li><a href="#Bursaries">Bursaries</a></li>
      <li><a href="#PrivacyStatements">Privacy Statements</a></li>
      <li><a href="#AntiHarassmentPolicy">Anti-Harassment Policy</a></li>

      <li><a href="#ContactUs">Contact Us</a></li>
      <li><a href="#Ombudsman">Ombudsman</a></li>
    </h2>
  </ul>
  <br>

  <h2 class="article-title"> <a name="Committees" href="#Committees" class="no-link-style">Committees</a> </h2>
  <br>
  <h3 class="topic-title">Organization Committee:</h3>
  <ul>
    <li>Christie Geldart</li>
    <li>Jamal Hadi Salim</li>
    <li>Roopa Prabhu</li>
    <li>Shrijeet Mukherjee</li>
    <li>Tom Herbert</li>
    <li>Fernando Ramos</li>
    <li>Francisco Pereira</li>
    <li>Kim Jeffries</li>
  </ul>

  <h3 class="topic-title">Program Committee:</h3>
  <ul>
    <li>Anjali Singhai Jain (Chair)</li>
    <li>Neal Cardwell</li>
    <li>Alex Duyck</li>
    <li>Or Gerlitz</li>
    <li>Steffen Klassert</li>
    <li>Hajime Tazaki</li>
    <li>Michael Tsirkin</li>
    <li>Cong Wang</li>
    <li>PJ Waskiewicz</li>
    <li>Florian Westphal</li>
    <li>Sowmini Varadhan</li>
    <li>Donald Sharp</li>
    <li>David Ahern</li>
    <li>Saeed Mahameed</li>
    <li>Andrew Lunn</li>
    <li>Harshita Ramamurthy</li>
    <li>Jesse Brandeburg</li>
    <li>Jason Gunthorpe</li>
  </ul>
  <h3 class="">Submission Shepherds</h3>
  <ul>
    <li>Roopa Prabhu<br>
    </li>
    <li>Shrijeet Mukherjee <br>
      <a href="mailto:shepherd-review-0x16@netdevconf.info">shepherd-review-0x16@netdevconf.info</a>
    </li>
  </ul>
  <h3 class="topic-title">Web Team:</h3>
  <ul>
    <li>Jeremy Carter</li>
  </ul>

  <p>
  </p>
  <hr>
  <h2 class="article-title"><a name="Bursaries" href="#Bursaries" class="no-link-style">Bursaries</a></h2>
  <br>
  <p>There are <a href="bursaries.html">bursaries</a> to help individuals participate.</p>

  <hr>

  <h2 class="article-title"> <a name="PrivacyStatements" href="#PrivacyStatements" class="no-link-style">Privacy
      Statements</a> </h2>
  <h3 class="topic-title"> Web site </h3>
  <p>We don't explicitly collect information from you. If we start to collect information, we will update this part. As
    most other websites, we gather basic traffic stats, including your IP address/IP address of your proxy as system
    default. We
    neither share nor look at them ourselves, but will look into addressing this issue at earliest chance.
  </p>

  <!-- We put the web site under HTTPS, so the requests and
      responses are encrypted (private). -->

  <!-- <p>
      We don't use any third-party suppliers for the web site -
      no third-party analytics, no third-party graphics, no
      third-party js or other supporting files. Whatever
      supporting files we use (js, css) we host
      ourselves. So far, there is no javascript and no plan
      to put any in. We lack the time to implement a fancy user
      experience - if someone wants to volunteer we won't
      necessarily refuse but we also don't want to compromise
      privacy/security either. So there won't be any
      third-party-hosting of our web assets, but we might start
      to use javascript libraries. However our site will be
      usable without javascript, if you turn it off at your
      end.
    </p>-->


  <h3 class="topic-title"> Mailing lists </h3>
  <!-- 	  <p>
      We have two types of mailing lists: one at
      lists.netfilter.org (thanks Pablo) and the others hosted
      by us.
    </p> -->

  <p>Your subscription information on mailinglist are collected by and kept within ourselves. We assure you we neither
    sell nor share your information with anyone.
  </p>

  <h3 class="topic-title">Payment Information</h3>
  <p>Payment information is not collected or stored on any
    servers operated by the NetDev Society.
    When you register your payment and payment card
    information will be entered directly into a third-party
    processor's systems and is not transmitted through or
    stored by our websites. We make reasonable efforts to
    ensure that our third-party processors handle your
    non-public information responsibly.</p>

  <h3 class="topic-title">Registration Information</h3>
  <p>We collect information from people who register for
    meetings. This information is used for logistics
    of running the conference (eg food allergies and
    dietary choices are used to ensure we cater for
    our attendees). We collect tshirt sizes and country
    information for our analytics. This information is
    summarized in the closing ceremony.
    Our attendee list is not public and is not shared
    with any third parties (such as sponsors).</p>

  <!-- <h3 class="topic-title">Information for letters of invitation</h3>
          <p>We delete the personal information that we collect to
            generate letters of invitation in a timely fashion
            after each meeting. We request that local organizations
            with whom we share this data to generate the letters
            also delete it in a timely fashion.</p> -->

  <p>
  </p>
  <hr>
  <h2 class="article-title"> <a name="AntiHarassmentPolicy" href="#AntiHarassmentPolicy"
      class="no-link-style">Anti-Harassment Policy</a> </h2>
  <br>
  <p>
    The NetDev Society is dedicated to providing a harassment-free conference experience for everyone regardless of
    gender, sexual orientation, disability, physical appearance, body size, race, or religion. We do not tolerate
    harassment of conference participants
    in any form and we expect participants to comply with our anti-harrassment policy at all conference venues and
    conference-related social events.
  </p>
  <p>
    Harassment includes sexual languages and images in venue spaces, deliberate intimidation, stalking, harassing
    photography or recording, sustained disruption of talks or other events, inappropriate physical contact, unwelcome
    sexual attention, and offensive
    verbal comments related to gender, sexual orientation, disability, physical appearance, body size, race, or
    religion. Conference participants violating this policy may be sanctioned or expelled from the conference without a
    refund at
    the discretion of the conference organizers.
  </p>
  <p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a
    member of conference staff immediately.


  </p>
  <p>
  </p>
  <hr>



  <h2 class="article-title"><a name="ContactUs" href="#ContactUs" class="no-link-style">Contact Us</a> </h2>
  <br>
  <p> General: <a href="mailto:info@netdevconf.info?Subject=ContactUs">
      info@netdevconf.info </a>
    <br> Sponsors: <a href="mailto:sponsor@netdevconf.info">
      sponsor@netdevconf.info </a>
  </p>
  <br> Announcements/News: people@netdevconf.info, subscribe at <a
    href="https://lists.netdevconf.info/cgi-bin/mailman/listinfo/people"
    target="_new">https://lists.netdevconf.info/cgi-bin/mailman/listinfo/people</a>.
  <br>
  <br>
  <br>

  <hr>
  <h2 class="article-title"><a name="Ombudsman" href="#Ombudsman" class="no-link-style">Ombudsman</a></h2>
  <br>
  <p>We have an <a href="ombudsman.html">ombudsman</a> to settle any disputes.</p>

</div>
<!-- end of bgimg -->
