<div class="">
  <h1 class="page-title">
    <a class="no-link-style" href="{{ post.url | prepend: site.baseurl }}">Netdev 0x16, THE Technical Conference on
      Linux Networking</a>
  </h1>
  <section class="post-excerpt" itemprop="description">
    Netdev 0x16 is scheduled to be in Lisbon Portugal tentatively on October 24th - 28th.<br /><br />

    <p>
      Netdev 0x16, like all the previous netdev conferences, is a conference of the netdev community, by the
      netdev community, for the netdev community. Linux kernel networking and user space utilization of the
      interfaces to the Linux kernel networking subsystem are the focus. If you are using Linux as a boot
      system for proprietary networking, then this conference _may not be for you_.</p>
  </section>
  <hr>

  <h2 id="sponsors" class="page-title">
    <a class="no-link-style" href="#sponsors">Sponsors</a>
  </h2>
  <section class="post-excerpt" itemprop="description">
    <p>
      We are looking for sponsors. If you can help us organize this event by sponsoring, please drop us a line
      to: sponsor@netdevconf.info and we'll send you our sponsorship information. <br>
    </p>
  </section>
  <hr>

  <h3>
    <a class="no-link-style post-link" href="./">Contact</a>
  </h3>
  <section class="post-excerpt" itemprop="description">
    <p>
      We are going to be sending more announcements to the conference discussion/announcement list:
      people@netdevconf.info. Subscribe at
      https://lists.netdevconf.info/cgi-bin/mailman/listinfo/people.<br /><br />

      For any other information, please contact: info@netdevconf.info.
    </p>
  </section>
  <hr>

  <h3>
    <a class="no-link-style post-link" href="./">Paper templates for presenters:</a>
  </h3>
  <section class="post-excerpt" itemprop="description">
    <p>
      odt template<br />
      latex template
    </p>
  </section>
  <hr>
</div>
