<div class="bgimg">
  <h1 class="page-title"> <a id="registration" class="no-link-style" href="#registration">Registration</a> </h1>

  <p>
    If you yearn for the old community tech driven conferences
    where you mingle with fellow Linux networking geeks then this would be it.
    While there will be a heavy Linux kernel influence we
    expect a lot of user space presence as well.</p>

  <!-- <p>Netdev 0x16 will be a fully-virtual conference, starting July 7th, 2021.<br /><br />

        Registration is now open! Click the link below to register. Note that when registering, the Name, Email, and Country fields are mandatory for you to fill in, and the other ones are not.<br />
      -->

  <!--
      <p>
        <font size="6"><a href="virtual.html">Click HERE
            to Register!</a></font>
      </p>
      -->

  <ul>
    <h2>
      <li><a href="#RegistrationFees">Registration Fees</a></li>
      <li>
        <a href="#Attendee-Information-and-Guides" id="Attendee-Information-and-Guides-ref"
          name="Attendee-Information-and-Guides-ref">
          Attendee Information &amp; Guides
        </a>
      </li>
      <li><a href="#SpeakersAndStudents">Speakers &amp; Students</a></li>
      <li>
        <a href="#Speaker-Information-and-Guides" id="Speaker-Information-and-Guides-ref"
          name="Speaker-Information-and-Guides-ref">
          Speaker Information &amp; Guides
        </a>
      </li>
      <!-- <li><a href="#TravelInformation">Travel Information</a></li> -->
      <li><a href="#cancellation-policy">Cancellation Policy</a></li>
    </h2>
  </ul>

  <p>
  </p>
  <hr>
  <h2 class="article-title"><a id="RegistrationFees" class="no-link-style" name="RegistrationFees"
      href="#RegistrationFees">Registration Fees</a></h2><br>

  <!-- <p>The registration rates will be announced soon.</p> -->

  Students get 50% discount on the price listed below.
  <ul>
    <!-- <li>
              <strong>Early Bird Rate</strong> <small>January 23rd - February 17th</small>
              <ul>
                <li>$475 CAD</li>
              </ul>
            </li> -->
    <li>
      <p>
        To be announced.
        <!-- <strong>Virtual Conference Rate (remote participation)</strong><br />
            $50 USD -->
      </p>
    </li>
  </ul>

  <h3 class="topic-title">
    <a href="#Attendee-Information-and-Guides" id="Attendee-Information-and-Guides"
      name="Attendee-Information-and-Guides" class="no-link-style">
      Attendee Information &amp; Guides
    </a>
  </h3>

  <!-- 
      <p>If you're attending, consider reading these guides which will help you enjoy the virtual conference format more easily:<br />
        <a href="Attendee-Information-and-Guides.html">https://netdevconf.info/0x16/Attendee-Information-and-Guides.html</a>
      </p>
      -->

  <!-- <p>We will mail a tshirt and badge (already printed) to the first 250 people who register. If you cancel registration after the tshirt and badge are shipped, you will be subject to the 50% refund instead of the 7% processing fee.</p> -->

  <p>
  </p>
  <hr>
  <h2 class="article-title"><a id="SpeakersAndStudents" class="no-link-style" name="SpeakersAndStudents"
      href="#SpeakersAndStudents">Speakers &amp; Students</a></h2>

  <h3 class="topic-title">Speakers</h3>

  <p>
    Before you register, please send an email to <a
      href="mailto:registrar@netdevconf.info?Subject=RegistrationExemption">registrar@netdevconf.info</a> with
    your complete name and contact information so that we may provide you
    with an invitation code. Please note we offer one
    invitation code per talk.
  </p>

  <h3 class="topic-title">
    <a href="#Speaker-Information-and-Guides" id="Speaker-Information-and-Guides" name="Speaker-Information-and-Guides"
      class="no-link-style">
      Speaker Information &amp; Guides
    </a>
  </h3>

  <!--
      <p>If you're one of the speakers at the conference, read these guides before your session please. It's important to read this so your session can happen smoothly on the virtual conference platform:<br />
        <a href="Speaker-Information-and-Guides.html">https://netdevconf.info/0x16/Speaker-Information-and-Guides.html</a>
      </p>
      -->

  <h3 class="topic-title">Students</h3>

  <p>
    Before you register, please send an email to <a
      href="mailto:registrar@netdevconf.info?Subject=StudentRegistration">registrar@netdevconf.info</a> with your
    complete name, student ID verification and affiliation
    (e.g., university). You will receive an invitation code once
    you're accepted. Students we accept will receive a 50% discount on the regular ticket price.
  </p>

  <!--
                <h2 class="topic-title"> Registration site: </h2>

                <p> The registration site information is coming soon. -->

  <!-- 	    <a href="http://netdev.peatix.com"> Proceed to -->
  <!-- 	      registration page here</a>. If you have any questions -->
  <!-- 	      about buying a ticket, please contact us at -->
  <!-- 	    <a href="mailto:info@netdevconf.info"> -->
  <!-- 	    info@netdevconf.info</a>. -->
  <!-- </p> -->

  <!-- <p>
          <hr/>
          <h2 class="article-title"><a name="TravelInformation">Travel Information</a></h2>
          <br>
          <p>Information on travel to venue and travel assistance can be found on
              <a href="travel.html#hotel">the Travel & Hotel page</a>.</p>
          </p> -->

  <p>
  </p>
  <hr>
  <h2 class="article-title"><a name="Cancellation Policy" id="cancellation-policy" href="#cancellation-policy"
      class="no-link-style">Cancellation Policy</a></h2>
  <br>
  <!-- <p> -->
  <!-- <b>Info for people who wish to cancel because the date changed and the conference is now virtual:</b><br/><br/>
            If you are already registered at the previous rate and you are able to attend remotely on the new date,
            you can request a price adjustment for the new lower rate by sending an email to 
            <a href="mailto:registrar@netdevconf.info">registrar@netdevconf.info</a> before the conference starts, otherwise 
            we will carry over your remaining balance for admission to the next conference, Netdev 0x16.
            All current registrations are already applied to the new date for the virtual Netdev 0x16 conference.<br/><br/>

            If you registered before we changed the date and no longer wish to participate, <b>you
            can cancel your registration for a refund minus a 7% processing
            fee until August 16th, 2020</b>.
            To cancel registration please send a request to
            <a href="mailto:registrar@netdevconf.info">registrar@netdevconf.info</a>.<br/><br/>

            Note that if you qualify for the tshirt and badge, and you cancel registration after we ship them to you, 
            the 50% refund will apply instead of the 7% processing fee. -->

  <!-- </p> -->
  <p>
    <!-- <b>Our regular cancellation policy, which applies in all other cases:</b><br/><br/> -->
    If you need to cancel before the conference, we can offer you a 50% refund if you contact us early enough.
    For more information, send an email to <a href="mailto:registrar@netdevconf.info">registrar@netdevconf.info</a>.
  </p><br>

</div> <!-- end of bgimg -->
