<!-- 
      <h1> Schedule </h1>

      <p>Times below are listed in UTC. If you add this to your own Google Calendar using the button at the bottom of this page, you'll be able to view the schedule in your preferred timezone.<br /><br />

        Note that when viewing the schedule on the <a href="virtual.html">virtual conference platform</a> the timezone will be different, so please be aware of that and make sure you notice which timezone is displayed.
      </p>

      <iframe src="https://calendar.google.com/calendar/embed?height=1624&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=UTC&amp;src=MGh0ODY5bzRlcG00aWZ2OHI1cXVvNWRvbGdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%234285F4&amp;showNav=0&amp;showTabs=0&amp;showPrint=0&amp;showCalendars=0&amp;mode=AGENDA&amp;showDate=0" style="border-width:0; height: 90vh;" width="480" frameborder="0" scrolling="no"></iframe>
      -->

<!-- <iframe src="https://calendar.google.com/calendar/embed?height=1624&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=UTC&amp;src=MGh0ODY5bzRlcG00aWZ2OHI1cXVvNWRvbGdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%234285F4&amp;title=Netdev%200x16&amp;mode=AGENDA&amp;showNav=0&amp;showTabs=0&amp;showDate=0&amp;showCalendars=0&amp;showTz=1" style="border-width:0; height: 90vh;" width="480" frameborder="0" scrolling="no"></iframe> -->

<!-- <iframe src="https://calendar.google.com/calendar/embed?height=1624&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=UTC&amp;src=MGh0ODY5bzRlcG00aWZ2OHI1cXVvNWRvbGdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23009688&amp;title=Netdev%200x16&amp;mode=AGENDA" style="border-width:0" width="480" height="1624" frameborder="0" scrolling="no"></iframe> -->

Check back later for the conference schedule.

<br><br>

<!-- <h3>More info on how to connect: <a href="virtual.html">https://netdevconf.info/0x16/virtual.html</a><br/><br/>All times shown are in GMT.</h3><br/> -->

<!-- <h2>Old Schedule</h2> -->

<!-- default view -->
<!-- <a id="sched-embed" href="//netdev0x16.sched.com/">View the Netdev 0x16 Conference schedule &amp; directory.</a><script type="text/javascript" src="//netdev0x16.sched.com/js/embed.js"></script> -->


<!-- expanded -->
<!-- <a id="sched-embed" href="//netdev0x16.sched.com/list/descriptions/">View the Netdev 0x16 Conference schedule &amp; directory.</a><script type="text/javascript" src="//netdev0x16.sched.com/js/embed.js"></script> -->


<!-- grid -->
<!-- <a id="sched-embed" href="//netdev0x16.sched.com/grid/">View the Netdev 0x16 Conference schedule &amp; directory.</a><script type="text/javascript" src="//netdev0x16.sched.com/js/embed.js"></script> -->


<!-- by venue -->
<!-- <a id="sched-embed" href="//netdev0x16.sched.com/venues/">View the Netdev 0x16 Conference schedule &amp; directory.</a><script type="text/javascript" src="//netdev0x16.sched.com/js/embed.js"></script> -->


<!-- speakers -->
<!-- <a id="sched-embed" href="//netdev0x16.sched.com/directory/speakers">View the Netdev 0x16 Conference schedule &amp; directory.</a><script type="text/javascript" src="//netdev0x16.sched.com/js/embed.js"></script> -->


<!-- sponsors -->
<!-- <a id="sched-embed" href="//netdev0x16.sched.com/directory/sponsors">View the Netdev 0x16 Conference schedule &amp; directory.</a><script type="text/javascript" src="//netdev0x16.sched.com/js/embed.js"></script> -->
