<h1 class="page-title"> Sessions </h1>

<div id="generated-sessions">
  <!-- generated-sessions -->
  <div id="session-nav" class="clearfix">

    <div>
      <!-- Will be announced later. -->

      <ul class="navi">
        <li> <a href="#TALK"> Talk </a></li>
      </ul>

      <ul class="navi">
        <li> <a href="#TUTORIAL"> Tutorial </a></li>
      </ul>

      <ul class="navi">
        <li> <a href="#WORKSHOP"> Workshop </a></li>
      </ul>

      <ul class="navi">
        <li> <a href="#PANEL"> Panel </a></li>
      </ul>

      <ul class="navi">
        <li> <a href="#KEYNOTE"> Keynote </a></li>
      </ul>

    </div>
  </div>


  <!-- <ul class="navi">
    <li> <a href="#SOCIAL"> Social </a></li>
  </ul> -->




  <a name="TALK"></a>
  <h2 class="topic-title for-onclick" onclick="$('#TALK-sessions').toggle()"> Talk(s) </h2>
  <div id="TALK-sessions" style="display:true;">
    TBD
    <!-- Talk marker - do not remove or modify this comment -->
  </div>
  <!-- end of TALK-sessions -->

  <a name="TUTORIAL"></a>
  <h2 class="topic-title for-onclick" onclick="$('#TUTORIAL-sessions').toggle()"> Tutorial(s) </h2>
  <div id="TUTORIAL-sessions" style="display:true;">
    TBD
  </div>
  <!-- end of TUTORIAL-sessions -->

  <a name="WORKSHOP"></a>
  <h2 class="topic-title for-onclick" onclick="$('#WORKSHOP-sessions').toggle()"> Workshop(s) </h2>
  <div id="WORKSHOP-sessions" style="display:true;">
    TBD
  </div>
  <!-- end of WORKSHOP-sessions -->
</div>
