<div class="main-content">
    <div>
        <h1 class="page-title"> Sessions </h1>

        <div id="generated-sessions">
            <!-- generated-sessions -->
            <div id="session-nav" class="clearfix">

                <!-- Will be announced later. -->

                <ul class="navi">
                    <li> <a href="#TALK"> Talk </a></li>
                </ul>

                <ul class="navi">
                    <li> <a href="#TUTORIAL"> Tutorial </a></li>
                </ul>

                <ul class="navi">
                    <li> <a href="#WORKSHOP"> Workshop </a></li>
                </ul>

                <ul class="navi">
                    <li> <a href="#PANEL"> Panel </a></li>
                </ul>

                <ul class="navi">
                    <li> <a href="#KEYNOTE"> Keynote </a></li>
                </ul>

                <!-- <ul class="navi">
    <li> <a href="#SOCIAL"> Social </a></li>
  </ul> -->

            </div>




            <a name="TALK"></a>
            <h2 class="topic-title for-onclick" onclick="$('#TALK-sessions').toggle()"> Talk(s) </h2>
            <div id="TALK-sessions" style="display:true;">



                TBD




                <!-- Talk marker - do not remove or modify this comment -->


            </div>
            <!-- end of TALK-sessions -->




            <a name="TUTORIAL"></a>
            <h2 class="topic-title for-onclick" onclick="$('#TUTORIAL-sessions').toggle()"> Tutorial(s) </h2>
            <div id="TUTORIAL-sessions" style="display:true;">


                TBD



                <!-- <div class="session-article">
  <h3 class="session-title">
    <a class="session-link" href="session.html?tutorial-time-sync-over-ethernet">
      Introduction to time synchronization over Ethernet
    </a>
  </h3>

  <p class="speaker"> Instructor: Maciej Machnikowski </p>

</div> -->




            </div>
            <!-- end of TUTORIAL-sessions -->

            <a name="WORKSHOP"></a>
            <h2 class="topic-title for-onclick" onclick="$('#WORKSHOP-sessions').toggle()"> Workshop(s) </h2>
            <div id="WORKSHOP-sessions" style="display:true;">


                TBD



                <!-- <div class="session-article">
  <h3 class="session-title">
    <a class="session-link" href="session.html?workshop-iot-networking">
      IoT Networking Workshop
    </a>
  </h3>

  <p class="speaker"> Chair: Stefan Schmidt</p>

</div>

<div class="session-article">
  <h3 class="session-title">
    <a class="session-link" href="session.html?workshop-traffic-control">
      Traffic Control Workshop
    </a>
  </h3>

  <p class="speaker">Chair: Jamal Hadi Salim</p>

</div>

<div class="session-article">
  <h3 class="session-title">
    <a class="session-link" href="session.html?workshop-netfilter">
      Netfilter Mini-Workshop
    </a>
  </h3>

  <p class="speaker">Chair: Florian Westphal</p>

</div>

<div class="session-article">
  <h3 class="session-title">
    <a class="session-link" href="session.html?workshop-FRR">
      FRR Workshop
    </a>
  </h3>

  <p class="speaker">Chairs: Donald Sharp and Stephen Worley</p>

</div>

<div class="session-article">
  <h3 class="session-title">
    <a class="session-link" href="session.html?workshop-switchdev-offload">
      Switchdev Offload Workshop
    </a>
  </h3>

  <p class="speaker">Chairs: Roopa Prabhu and Jiri Pirko</p>

</div>

<div class="session-article">
  <h3 class="session-title">
    <a class="session-link" href="session.html?workshop-XDP-general">
      XDP General Workshop
    </a>
  </h3>

  <p class="speaker">Chairs: Alexander Lobakin, Michal Swiatkowski, Piotr Raczynski, and Jesper Dangaard Brouer</p>

</div> -->



                <!-- <div class="session-article">
        <h3 class="session-title">
          <a class="session-link"
             href="session.html?workshop-hardware-offload">
            Hardware Offload Workshop
          </a>
        </h3>

          <p class="speaker"> Chair: Roopa Prabhu and Or Gerlitz</p>

      </div> -->



                <!-- <div class="session-article">
        <h3 class="session-title">
          <a class="session-link"
             href="session.html?workshop-Traffic-Control">
            Traffic Control Workshop
          </a>
        </h3>

          <p class="speaker"> Chair: Jamal Hadi Salim</p>

      </div> -->



                <!-- <div class="session-article">
        <h3 class="session-title">
          <a class="session-link"
             href="session.html?workshop-FRRouting">
            FRRouting Workshop
          </a>
        </h3>

          <p class="speaker"> Chairs: Donald Sharp and David Lamparter</p>

      </div> -->



                <!-- <div class="session-article">
        <h3 class="session-title">
          <a class="session-link"
             href="session.html?workshop-netlink">
            Netlink Workshop
          </a>
        </h3>

          <p class="speaker"> Chairs: David Ahern and Roopa Prabhu</p>

      </div> -->



                <!-- <div class="session-article">
        <h3 class="session-title">
          <a class="session-link"
             href="session.html?workshop-netfilter-mini">
            Netfilter Mini-Workshop
          </a>
        </h3>

          <p class="speaker"> Chairs: Pablo Neira and Florian Westphal</p>

      </div> -->







                <!-- <div class="session-article">
        <h3 class="session-title">
          <a class="session-link"
             href="session.html?tcp-analytics">
            TCP Analytics
          </a>
        </h3>
        
          <p class="speaker"> Chair: Sowmini Varadhan</p>
        
      </div> -->
















            </div>
            <!-- end of WORKSHOP-sessions -->

            <!--
<a name="PANEL"></a>
<h2 class="topic-title for-onclick" onclick="$('#PANEL-sessions').toggle()"> Panel(s) </h2>
<div id="PANEL-sessions" style="display:true;">


<div class="session-article">
  <h3 class="session-title">
    <a class="session-link" href="session.html?panel-industry-perspectives">
      Industry Perspectives: Smart NICs
    </a>
  </h3>

  <p class="speaker">Panelists: Simon Horman, Anjali Singhai Jain, Rony Efraim, Shannon Nelson, Vipin Jain, and Kieran Mansley<br />
    Panel Chair: <a class="no-link-style" href="session.html?panel-chair-nabil-bitar">Nabil Bitar</a></p>
</div>



</div>
-->
            <!-- end of PANEL-sessions -->

            <!--
<a name="KEYNOTE"></a>
<h2 class="topic-title for-onclick" onclick="$('#KEYNOTE-sessions').toggle()"> Keynote(s) </h2>
<div id="KEYNOTE-sessions" style="display:true;">

<div class="session-article">
  <h3 class="session-title">
    <a class="session-link" href="session.html?keynote-balakrishnan">
      Site-to-Site Internet Traffic Control
    </a>
  </h3>

  <p class="speaker"> Speaker: <a class="no-link-style" href="news.html?keynote-balakrishnan">Hari Balakrishnan</a> </p>

</div>



</div>
-->
            <!-- end of KEYNOTE-sessions -->

            <!-- <a name="SOCIAL"></a>
<h2 class="topic-title for-onclick"
    onclick="$('#SOCIAL-sessions').toggle()"> Social </h2>
<div id="SOCIAL-sessions" style="display:true;">

  To be announced. -->


            <!-- <div class="session-article">
        <h3 class="session-title">
          <a class="session-link"
             href="session.html?bits-nibbles-bytes-and-words">
Bits, Nibbles, Bytes and Words
          </a>
        </h3>

          <p class="speaker"> Make new connections </p>

      </div> -->



            <!-- </div>  -->
            <!-- end of SOCIAL-sessions -->

        </div>

    </div>
    <!-- end of bgimg -->
</div>