<div class="main-content">
    <div>
      <h1 class="page-title">Travel</h1>

      Details coming soon.

      

      <!-- <ul> -->
      <!-- <h2> -->
      <!-- <li><a href="#assistance">Visa information</a></li> -->
      <!-- <li><a href="#hotel">Travel to Prague</a></li> -->
      <!-- <li><a href="#hotel">Getting to the venue</a></li> -->
      <!-- <li><a href="#VAT">VAT info</a></li> -->
      <!-- </h2> -->
      <!-- </ul> -->

      <!-- <h2 id="assistance">Assistance for visitors to Canada</h2>
              <h4 class="highlight">Note: There are new requirements for entering Canada
                  if you do not have a visa and if you are not from the United States. See
                  <a href="#eTA">here</a> for more info and some links.</h4>

              <p>Foreign attendees might need an invitation letter in order to obtain
                  a visa to get into Canada. </p>

              <p>After you have registered, we can issue you an invitation letter on request.
                  Send an email to <a href="mailto:registrar@netdevconf.info">registrar@netdevconf.info</a> with a request for a
                  letter.
                  We will arrange to get the required information, which we will put into a
                  letter, print, sign and send to you by postal mail.</p>

              <p> Canadian Border Services has some information for
                  <a href="http://www.cbsa-asfc.gc.ca/travel-voyage/ivc-rnc-eng.html" name="eTA">Visitors to
                      Canada</a>.
                  That page has information about the Electronic Travel Authorisation (eTA),
                  and visas.</p>

              <p>If you dont need a visa to get to Canada (EU folks) then you will
                  need to get an ETA. Please visit this site:
                  <a href="http://www.cic.gc.ca/english/visit/eta.asp"
                  >http://www.cic.gc.ca/english/visit/eta.asp</a>
                  And for a quick test of whether you need it go here:
                  <a href="http://www.cic.gc.ca/english/visit/visas.asp"
                  >http://www.cic.gc.ca/english/visit/visas.asp</a></p>

              <p>The list of countries whose citizens need a visa to enter Canada is
                  <a href="http://www.cic.gc.ca/english/visit/visas.asp">here</a>.


              <p>It is up to you to determine the requirements and comply with them.</p>

            <h2 id="hotel">Travel to Vancouver: Getting to the venue</h2> -->
      <!-- <p> -->
      <!-- Netdev 0x16 will be held at Pinnacle Hotel Harbourfront, 
                1133 West Hastings Street, Vancouver, BC, V6E 3T3; located 
                in the heart of downtown Vancouver:<br/>
                <a href="https://www.pinnacleharbourfronthotel.com">https://www.pinnacleharbourfronthotel.com</a> -->

      <!-- Use the following link to get a discount at the hotel:<br/>
                <a href="https://book.passkey.com/event/49982146/owner/2075/home">https://book.passkey.com/event/49982146/owner/2075/home</a>
                <a href="https://www.pinnacleharbourfronthotel.com/">https://www.pinnacleharbourfronthotel.com/</a> -->
      <!-- </p> -->
      <!-- <p>
                We have been informed that all the guest rooms at Pinnacle 
                Hotel Harbourfront have already been booked. Here is a list of 
                <a href="news.html?alternative-hotel-list">alternate list of hotels nearby</a>.
            </p>

            <h2>
              Getting to/from the airport
            </h2>
            <h2>Taxi</h2>
            <p>
              <p>In addition to providing you with a safe and reliable ride, Vancouver taxi companies ensure all  drivers receive extensive training through the award-winning TaxiHost training program.<br>
              All licensed taxis are allowed to drop-off passengers at YVR, and they will use the meter to determine the fare.</p>
              <p>If you’re taking a taxi from the airport to your hotel after arriving at YVR, use one of the taxi stands located on Level 2. Taxis operating from the airport are licensed, and will use a zoned fare rate that will depend on your destination.</p>
              <p>The conference is located in Zone 9: Canada Place/Downtown and should cost $36.
                More information can be found at this link: <a href="https://www.yvr.ca/en/passengers/transportation/taxis">https://www.yvr.ca/en/passengers/transportation/taxis</a></p>
            </p>
            <h2>Public Transit</h2>
              <p>The SkyTrain’s Canada Line provides rapid rail service linking YVR to downtown Vancouver and parts of Richmond. Trains leave the airport station approximately every seven minutes during most times of the day.</p>
              <p>The trip from YVR to downtown Vancouver takes only 26 minutes on a two zone fare of $4.25, plus the $5.00 Canada Line YVR AddFare. The YVR AddFare is waived if you have a pre-purchased fare, e.g. a day pass, monthly pass or a Fare Saver ticket.</p>
              <p>Tickets can be bought at the SkyTrain station. Check the TransLink website for maps, schedules and fare information: <a href="http://www.translink.ca">http://www.translink.ca</a></p>
            <h3>Directions by SkyTrain to Pinnacle Hotel Harbourfront, 1133 W Hastings St, Vancouver, BC V6E 3T3</h3>
              <p>
                You will take the Canada Line to Waterfront station stop. From this station it is 700 meters to the hotel.
            </p>
            <h2>Uber</h2>
              <p>Please note that Uber has recently started operating in Vancouver, so that's an option for getting around as well.</p> -->

      <!-- More info coming soon. -->

      <!-- <ul>
            <h2>
              <li><a href="#assistance">Visa information</a></li>
              <li><a href="#hotel">Travel to Prague</a></li>
              <li><a href="#hotel">Getting to the venue</a></li>
              <li><a href="#VAT">VAT info</a></li>
            </h2>
          </ul>

          <h2 id="assistance">Visa information</h2>
          <p>
            Czech republic is part of the Schengen Area and you might not need
            a visa depending on your nationality. For exact details please
            visit the
            <a
              href="https://www.mzv.cz/jnp/en/information_for_aliens/general_visa_information/"
              >General Visa Information</a
            >
            pages from the <a href="X">Ministry of Foreign Affairs</a>.
          </p>

          <p>
            Foreign attendees might need an invitation letter in order to
            obtain a visa to get into Prague.
          </p>

          <p>
            After you have registered, we can issue you an invitation letter
            on request. Send an email to
            <a href="mailto:info@netdevconf.info">info@netdevconf.info</a> with
            a request for a letter. We will arrange to get the required
            information, which we will put into a letter, print, sign and send
            to you by postal mail.
          </p>

          <p>
            The list of countries whose citizens need a visa to enter Czech
            Republic is
            <a
              href="https://www.mzv.cz/jnp/en/information_for_aliens/short_stay_visa/list_of_states_whose_citizens_are/index.html"
              >here</a
            >.
          </p>

          <p>
            It is up to you to determine the requirements and comply with
            them.
          </p>

          <!-- 
            <h2 id="travel">Travel to Prague</h2>
          <p>To be added.</p>

          
          <h2 id="hotel">Travel to Prague; Getting to the venue</h2>

          <p>
          Netdev 0x13 will be held at <a href="https://www.hotel-grandium.cz/en/">Hotel Grandium</a>, Politickych veznu 110
            00; located in the center of Prague.
          </p>

      <p>Please use <a href="https://www.hotel-grandium.cz/en/bookings/?promo_code=NETDEV15OFF&date_in=2019-03-16&date_out=2019-03-24">this link</a> to get the group rate.</p>

      <p>For more details on getting to Prague, please see the
        <a href="https://netdevconf.info/wiki/doku.php?id=0x13:travel">wiki</a>.
      </p>

          <h2 id="VAT">Info about VAT</h2>

      <p>Some info on VAT can be found <a href="https://www.ietf.org/how/meetings/104/vat/">here</a>.</p> -->

      <!-- hr / -->
    </div>
    <!-- end of bgimg -->
  </div>