<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %}

  <div class="page-content">
    <div class="home page-container">

      <div id="left-side">
        {% include left-side.html %}
      </div>
      <div id="main-section">
        <div class="main-content">
          <div>
            {{content}}
          </div>
        </div>
      </div>
      <div id="right-side">
        {% include right-side.html %}
      </div>
    </div>
  </div>

  {% include footer.html %}
</body>

</html>
